{% render 'partials/head.liquid', title: 'SquadScape' %}

<h2>Students</h2>
<ul class="">
  {% for person in persons %}
    <li>
      <figure class="mugshot">
      <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=300" alt="Profile picture">
      </figure>

      <a href="/student/{{ person.id }}" class="profileName">
      {{ person.name }}
      </a>
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}