:root {
    /* Sizing */
    --h1-size: clamp(3.5rem, 3.148rem + 1.502vw, 4.5rem);

    --h2-size: clamp(3rem, 2.648rem + 1.502vw, 4rem);

    --body-size: clamp(1rem, 0.648rem + 1.502vw, 2rem);

    /* Spacing */

    --letter-spacing-standard: 3%;

    /* Coloring */
    --background-color: #1f1f1f;
    --text-color: #eeff00;
    --link-hover-color: #48ff00;
    --card-background-color: #424242;

    /* Fonts */

    --font-standard: "Runescape";
    --font-bold: "Runescape Bold";
}

@font-face {
    font-family: "RuneScape Bold";
    src: url("assets/fonts/runescape_bold.ttf");
}

@font-face {
    font-family: "Runescape";
    src: url("assets/fonts/runescape.ttf");
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-image: url("assets/img/cobble.jpg");
    height: 10%;
    display: flex;
    justify-content: center;
}

.headerImg {
    filter: brightness(60%);
    width: 20%;
    max-width: 155px;
    max-height: 155px;
    align-self: center;
    justify-self: center;
}

.mugshot {
    align-self: center;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    width: 80%;
    height: auto;
    border-radius: 25px;
    margin: auto;
}

h1 {
    font-size: var(--h1-size);
    font-family: var(--font-bold);
    color: var(--text-color);
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: var(--h2-size);
    font-family: var(--font-bold);
    color: var(--text-color);
}

ul.profiles {
    padding: 0px;
    font-family: var(--font-standard);
    list-style: none;
    list-style-position: inside;

    /* Use grid to better display profile cards*/
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    @media (width > 570px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width > 870px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background-color);
    margin: 20px;
    border-radius: 10px;
}

.cardInfo {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    font-family: var(--font-bold);
    font-size: var(--body-size);
    text-decoration-line: none;
    color: var(--text-color);
}



a:hover {
    transition: 0.20s;
    color: var(--link-hover-color);
}